.display {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
  line-height: 1.5;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  min-width: 75%;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 35px;
  max-height: fit-content;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .display-section {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .displayLabel {
      font-size: 0.9rem;
      font-weight: 600;
      color: var(--text-secondary);
      margin-bottom: 5px;
      display: block;
    }

    .DisplayContent,
    .display-tags,
    .display-content-text,
    .display-mesg-text {
      font-size: 0.95rem;
      padding: 8px 12px;
      background-color: var(--bg-primary);
      border-radius: 6px;
      color: var(--text-primary); /* Slightly darker text for content */
    }

    .display-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      min-height: 30px;

      span {
        background-color: var(--button-secondary);
        padding: 6px 8px;
        border-radius: 4px;
        color: var(--button-secondary-text);
        font-size: 0.8rem;
      }
    }

    .display-content-text,
    .display-mesg-text {
      white-space: pre-wrap;
    }
  }
}

.body2Bg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 20%;
  opacity: 0.4;
  color: var(--text-secondary);

  svg {
    fill: var(--text-secondary);
  }
}

.b2 {
  display: flex;
  min-width: 100%;
}

.Body3 {
  width: 25%;
}

.hr {
  height: 100vh;
}

.display-mesg-text {
  min-height: 200px;
}

get it {
  background-color: aliceblue;
}
