.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;

  .Create-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      background-color: blue;
      border-radius: 6px;
      border: none;
      color: white;
      width: 100%;
      padding: 10px;

      .cp {
        font: 500;
        font-size: 18px;
      }
    }
  }

  .list-data {
    .data {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .note {
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 5px;
        padding: 5px;

        .note-title {
          font-size: 20px;
          font-weight: 500;
        }
        .note-content {
          font-size: 15px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
