@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header {
  font-family: "Dancing Script", cursive;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  padding: 15px;
  padding-left: 20px;
  border: 0.5px solid var(--border-primary);
  border-bottom: none;

  .notesLogo {
    font-size: 35px;
    color: var(--text-primary);
  }

  .header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-primary);

    &:hover {
      cursor: pointer;
      background-color: var(--header-hover-background);
      border-radius: 10px;
    }
  }

  .header-logo {
    display: flex;
    gap: 10px;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    color: var(--text-primary);

    img {
      width: 45px;
      height: 45px;
    }
  }

  .head-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Prompt", sans-serif;

    .head-main {
      font-size: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .containers {
        display: flex;
        gap: 10px;
        align-items: center;
        background-color: transparent;
        width: 100%;
        border-radius: 5px;
        padding: 8px;
        border: none;
        color: var(--text-primary);

        .allNotes {
          font-size: 18px;
          color: var(--text-primary);
        }
      }
    }
  }
}

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .tag-title {
    color: var(--tag-title-color);
  }

  .tags {
    padding-left: 10px;

    .tag {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--text-primary);
    }
  }
}

/* Separated Hover Effect */
.header .head-content .head-main .containers {
  &:hover {
    background-color: var(--container-hover-background);
  }
}
