.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 25px;
  border: 1px solid var(--border-primary);
  border-inline: none;
  margin-bottom: 15px;

  p {
    font-size: 30px;
    color: var(--text-primary);
  }

  .search {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
      padding: 8px;
      width: 300px;
      border: 1px solid var(--border-primary);
      border-radius: 6px;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
    }

    .settings {
      background: none;
      border: none;
      width: 35px;
      color: var(--text-primary);
    }
  }
}
